/*--Styling for the landing page, index.html ONLY---*/

body, html  {
   height: 100%;
  
  
}
#hero-outer {
    background: url("../images/kitchen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  
}

   
/*-------NAVIGATION---------*/

nav {
    width: 100%;
    margin-bottom: 15px;
    height: 100px;
    margin-bottom: 50px;
    background:transparent;
}


.navbar a {
    font-family: 'Courier New', Courier, monospace;
    color: #FAFAFA!important;
    text-decoration: none!important;
    font-size: 20px;
    margin-right:20px ;
    text-shadow: 2px 2px 8px black;
 }
 .navbar a:hover {
    background-color: #FAFAFA;
    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    color: #1F2027!important;
    border-radius: 2px;
    text-shadow: none;
    padding: 0px 10px;
 }

.navbar-brand {
    font-family: 'Rozha One', serif!important;
    font-size: 40px!important;
    text-shadow: 1px 1px 8px black;
   
}


 /*-------------FOOTER---
 
 removed footer so that the landing page can look very modern. all of the footer details are available on the rest of the pages!
 
 ------*/






.enter-button {
    position: absolute;
    top: 40%;
    background-color: #FAFAFA;
    border:none;
    font-size: 45px;
    font-family: 'Rozha One', serif;
    color: #1F2027; 
    padding: 10px 20px;
    box-shadow: .5px .5px 50px .5px #1F2027;
    
}



.enter-button:hover {
    background-color: #FAFAFA!important;
    border: solid 2px #FAFAFA!important;
    color: #515e1f!important;
    border-radius: 1px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    padding: 10px 30px;
    
}

